# Ignore large data files
input/*
output/*
input/archive/Environment_Emissions_intensities_E_All_Data/*.csv
input/archive/Environment_Emissions_intensities_E_All_Data_*/*.csv
input/archive/owid-co2-data.csv